:root {
  --grey: #beccdc;
}

.label {
  color: white;
}

.label--grey {
  color: var(--grey);
}

.label--big {
  font-size: 20px;
}

.label--small {
  color: var(--grey);
  font-size: 14px;
}

.label--link {
  text-decoration: none;
}

.label--link:visited {
  color: #e0be86;
}

.label--newline::after,
.label--link::after {
  content: '\A';
  white-space: pre;
}

.filter-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  margin: 0 0.3rem;
}

.filter-button--selected {
  color: white;
}

.chart-container {
  height: 420px;
}

.key-stats-container {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: 1fr 1fr;
}

.key-stats-container__stats {
  border-bottom: solid 1px #54606d80;
}

.whitespace {
  margin: 0 1rem;
}
