.label {
  color: white;
  display: block;
}

.label--grey {
  color: var(--secondary-colour);
}

.label--big {
  font-size: 1.4rem;
}

.label--small {
  color: var(--secondary-colour);
  font-size: 0.9rem;
}

.label--link {
  text-decoration: none;
}

.label--link:visited {
  color: var(--link-visited);
}

.filter-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondary-colour);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  margin: 0 0.3rem;
}

.filter-button--selected {
  color: white;
}

.history-container__filters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.history-container__filter-group {
  margin: 0 1.5rem;
}

.history-container__chart {
  height: 420px;
}

.chart-container {
  width: 99% !important;
}

.keystats-container {
  display: grid;
  grid-gap: 0.7rem 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media screen and (max-width: 600px) {
  .keystats-container {
    grid-template-columns: 1fr;
  }

  .history-container__filters {
    align-items: flex-end;
    flex-direction: column;
  }
}

.keystats-container__stat {
  padding-bottom: 0.7rem;
  border-bottom: var(--separator);
  display: flex;
  justify-content: space-between;
}

.news-container {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 1;
  text-align: justify;
}

.overview-container {
  text-align: justify;
}
