:root {
  --grey: #beccdc;
}

.whitespace {
  margin: 0 1rem;
}

.label {
  color: white;
}

.label--grey {
  color: var(--grey);
}

.label--big {
  font-size: 20px;
}

.label--small {
  color: var(--grey);
  font-size: 14px;
}

.label--link {
  text-decoration: none;
}

.label--link:visited {
  color: #e0be86;
}

.label--newline::after {
  content: '\A';
  white-space: pre;
}

.filter-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  margin: 0 0.3rem;
}

.filter-button--selected {
  color: white;
}

.history-container__filters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.history-container__chart {
  height: 420px;
}

.chart-container {
  width: 99% !important;
}

.keystats-container {
  display: grid;
  grid-gap: 0.7rem 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media screen and (max-width: 600px) {
  .whitespace {
    margin: 0;
  }

  .keystats-container {
    grid-template-columns: 1fr;
  }

  .history-container__filters {
    align-items: flex-end;
    flex-direction: column;
  }
}

.keystats-container__stat {
  padding-bottom: 0.7rem;
  border-bottom: solid 0.1rem #54606d80;
  display: flex;
  justify-content: space-between;
}

.news-container {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 1;
  text-align: justify;
}

.overview-container {
  text-align: justify;
}
