:root {
  --grey: #beccdc;
}

.search-container__input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: transparent;
  border-bottom: solid 2px var(--blue);
  color: white;
  font-size: 30px;
  outline: transparent;
}

.search-container__results-list {
  list-style-type: none;
  padding-left: 0px;
  z-index: 1;
  color: #05105A;
  /* background: #F2F2F5; */
  position: absolute;
  width: 100%;
  opacity: 0.95;
}

.search-container__result {
  color: blue;
  /* color: var(--grey); */
  border-bottom: 1px #05105A solid;
  background: white;
}
