:root {
  --grey: #beccdc;
  --blue: #7fb3ff;
}

.search-container-input-wrapper{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.search-container__input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: transparent;
  border-bottom: solid 2px var(--blue);
  color: white;
  font-size: 30px;
  outline: transparent;
  
}

.search-container__results-list {
  list-style-type: none;
  padding-left: 0px;
}

.search-container__result {
  color: var(--grey);
  outline: none;
  padding: 10px;
}


.fa-search{
  padding:  15px 2px;
  color:var(--blue);
  min-width: 50px;
  text-align: center;
  border-bottom: solid 2px var(--blue);
}