.stock-tracker {
  width: 1200px;
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(127deg, #012861, #021738 69%, #021025);
  border-radius: 5px;
}

.search {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 2px #7fb3ff;
  color: white;
  font-size: 30px;
  outline: none;
}

.result-list {
  list-style-type: none;
  padding-left: 0px;
}

.result-list__result {
  color: #beccdc;
}

.component-title {
  color: #7fb3ff;
  border-bottom: solid 2px #7fb3ff;
  margin-bottom: 10px;
}

.label {
  color: white;
}

.label--blue {
  color: #beccdc;
}

.label--big {
  font-size: 20px;
}

.label--small {
  font-size: 14px;
}

.label--link {
  text-decoration: none;
}

.label--link:visited {
  color: #e0be86;
}

.label--newline::after {
  content: '\A';
  white-space: pre;
}

.filter-button {
  background-color: transparent;
  border-color: transparent;
  color: #beccdc;
  margin: 0px 8px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.filter-button--selected {
  color: white;
}

.whitespace {
  margin: 0px 30px;
}
