/* Todo TL 12/10/2018 Remove once everything uses emotion */

:root {
  --stock-tracker-padding: 1.5rem;
}

.label {
  color: white;
  display: block;
  margin-bottom: 0.3rem;
}

.label--grey {
  color: var(--secondary-colour);
}

.label--big {
  font-size: 1.4rem;
}

.label--small {
  color: var(--secondary-colour);
  font-size: 0.9rem;
}

.label--link {
  text-decoration: none;
}

.label--link:hover {
  color: var(--link-hover);
}
