:root {
  --blue: #7fb3ff;
}

html {
  overflow: hidden;
}

.stock-tracker-container {
  min-width: 100vw;
  min-height: calc(100vh);
  resize: both;
  margin: 0;
  padding: 1.5rem;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(127deg, #012861, #021738 69%, #021025);
  border-radius: 0.25rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'search search'
    'history news'
    'keystats overview'
    'keystats peers';
}

@media screen and (max-width: 800px) {
  html {
    overflow-y: scroll;
  }

  .stock-tracker-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'search'
      'history'
      'keystats'
      'news'
      'overview'
      'peers';
  }
}

.stock-tracker-container__search {
  grid-area: search;
}

.stock-tracker-container__history {
  grid-area: history;
}

.stock-tracker-container__news {
  grid-area: news;
}

.stock-tracker-container__key-stats {
  grid-area: keystats;
}

.stock-tracker-container__overview {
  grid-area: overview;
}

.stock-tracker-container__peers {
  grid-area: peers;
}

.component-title {
  color: var(--blue);
  border-bottom: solid 0.1rem var(--blue);
  margin-bottom: 0.9rem;
}
